body{
    background-image: url("https://www.aegworldwide.com/sites/default/files/styles/extra_large/public/sport/2019-07/Zlatan.jpeg?itok=GDQ50mEJ");
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    color: #1b2b55;
}

.container{
    background-color: whitesmoke;
    opacity: .6;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

h1, h2, p{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    
}

.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.food, .drink{
    text-align: left;
    width: 60%;
}

.price{
    text-align: right;
    width: 35%;
}
hr{
    height: 5px;
    background-color: #1b2b55;
    border-color: yellow;
}

.bottom-line{
    margin-top: 30px;
}

/* -- Footer --- */

footer{
    font-size: 15px;
}

.address{
    margin-bottom: 10px;
}
a{
    color: #1b2b55;
}

a:visited{
    color: black;
}

a:hover{
    color: yellow;
}

a:active{
    color: #1b2b55;
}